@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;

  --color-first: hsl(23, 100%, 50%);
  --color-white: hsl(0, 0%, 100%);
  --color-text: hsl(23, 4%, 60%);
  --color-body: hsl(23, 12%, 4%);
  --color-container: hsl(23, 4%, 10%);
  --color-gradient: linear-gradient(
    90deg,
    hsl(23, 4%, 28%) 0%,
    hsl(23, 4%, 8%) 100%
  );

  /*.5rem = 8px | 1rem = 16px ...*/
  --font-body: "Poppins", sans-serif;
  --font-size-biggest: 10rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1rem;
  --font-size-normal: 0.938rem;
  --font-size-small: 0.813rem;
  --font-size-smaller: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* responsive typography */
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-body);
  font-family: var(--font-body);
  color: var(--color-text);
  font-size: var(--font-size-normal);
}

h1,
h2,
h3,
h4 {
  color: var(--color-white);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* reusable */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  margin-bottom: 1.5rem;
  font-size: var(--font-size-h2);
  text-align: center;
}

.main {
  overflow: hidden; /* for animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/

/* Navigation for mobile devices */

/* Show menu */

/* Add blur header */

/* Active link */

/*=============== HOME ===============*/

/*=============== BUTTON ===============*/

/*=============== ABOUT ===============*/

/*=============== FAVORITE ===============*/

/* Swiper class */

/*=============== MODEL ===============*/

/*=============== SPONSOR ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
