@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

:root {
  --header-height: 3.5rem;

  --color-title: hsl(0, 0%, 95%);
  --color-text: hsl(0, 0%, 70%);
  --color-text-light: hsl(0, 0%, 60%);
  --color-body: hsl(0, 0%, 0%);
  --color-container: hsl(0, 0%, 8%);

  /*.5rem = 8px | 1rem = 16px ...*/
  --font-body: "Poppins", sans-serif;
  --font-second: "Montserrat", sans-serif;
  --font-size-biggest: 2.75rem;
  --font-size-h1: 1.5rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1rem;
  --font-size-normal: 0.938rem;
  --font-size-small: 0.813rem;
  --font-size-smaller: 0.75rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}

/* responsive typography */
@media screen and (min-width: 1152px) {
  :root {
    --font-size-biggest: 5.5rem;
    --font-size-h1: 2.5rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.875rem;
    --font-size-smaller: 0.813rem;
  }
}

/* base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--font-body);
  font-size: var(--font-size-normal);
  color: var(--color-text);
}

body {
  background-color: var(--color-body);
}

button,
input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-second);
  color: var(--color-title);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* reusable */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  margin-bottom: 1.5rem;
  font-size: var(--font-size-h1);
  text-align: center;
}

.main {
  overflow: hidden; /* for animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/

/* Navigation for mobile devices */

/* Show menu */

/* Add blur to header */

/* Active link */

/*=============== HOME ===============*/

/*=============== BUTTON ===============*/

/*=============== ABOUT ===============*/

/*=============== POPULAR ===============*/

/*=============== EXPLORE ===============*/

/*=============== JOIN ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
